.header {
  display: flex;
  justify-content: space-between;

  h1 {
    margin-bottom: 0;
  }
}

.slug {
  color: var(--text-color);
  padding-left: 4px;

  code {
    padding: 4px;
    margin-left: 4px;
    font-size: var(--small-text);
  }
}
