.articleImageSet {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.container {
  margin: 2rem 0;
}

.caption {
  width: 100%;
  color: var(--text-color);
  opacity: 0.7;
  font-size: var(--small-text);
  line-height: var(--small-text);
  text-align: center;
}
