.list {
  list-style: none;
  padding-left: 0;
}

.listItem {
  display: block;
  border: 1px solid #777;
  padding: 8px;

  &:hover {
    border-color: var(--text-color);
    background-color: var(--text-color);
    color: var(--background-color);
  }
}
