.container {
  position: relative;
  display: flex;
  margin: 16px 0;
  border-left: 1px solid #777;

  .textContainer {
    display: inline-block;
  }

  h3,
  p {
    background-color: var(--background-color);
    padding: 0 8px;
    margin-bottom: 0;
  }
  h3 {
    font-size: var(--medium-small-text);
    margin-bottom: 4px;
  }
}
