@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display:wght@400;700");

:root {
  --dark-grey: #222;
  --light-grey: #d8d8d8;

  --background-color: white;
  --background-color-dark: #527ea4;
  --light-primary: #128cf7;
  --dark-primary: #79addc;
  --primary: var(--light-primary);

  --text-color: var(--dark-grey);
  --primary-font: "Nunito Sans", sans-serif;
  --brand-font: "DM Serif Display", sans-serif;
  --brand-border: 1px solid var(--text-color);

  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 18px;

  --large-text: 2rem;
  --medium-large-text: 1.75rem;
  --medium-text: 1.5rem;
  --medium-small-text: 1.25rem;
  --small-text: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #101114;
    --background-color-dark: #262c37;
    --text-color: white;
    --primary: #3c3c3c;
  }
}

@media (max-aspect-ratio: 8/6) {
  :root {
    font-size: 14px;
  }
}

.color-primary {
  color: var(--primary);
}

.border {
  border: var(--brand-border);
}

.border-bottom {
  border-bottom: var(--brand-border);
}

.hashed {
  background: repeating-linear-gradient(
    45deg,
    var(--text-color),
    var(--text-color) 1px,
    transparent 1px,
    transparent 10px
  );
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}

#grand-container {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--brand-font) !important;
}

h1 {
  font-size: var(--large-text);
}

h2 {
  font-size: var(--medium-large-text);
}

h3 {
  font-size: var(--medium-text);
}

p {
  color: var(--text-color);
}

article {
  $article-vmargin: 0.65rem;

  margin-bottom: 2rem;
  p {
    margin: $article-vmargin 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  * > ul {
    margin-top: $article-vmargin;
  }

  *:not(sup) > a {
    &::after {
      content: "↗";
      font-size: 1.25em;
      line-height: 1em;
    }
  }

  section {
    margin: 1rem 0;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  color: var(--light-primary);
}

ul {
  margin: 0;
  padding-left: 1rem;
}

li {
  color: var(--text-color);
}

.flex-spacer {
  flex-grow: 1;
}

hr {
  margin: 4rem 1rem;
  background-color: var(--text-color);
}

article > hr {
  margin: 2rem 1rem;
}

footer {
  a {
    text-decoration: none;
  }
}

footer > hr {
  margin-top: 0;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-center {
  align-items: center;
}

.sp-between {
  justify-content: space-between;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.thematic {
  font-weight: bold;
  // color: #fffc33;
}

code {
  background-color: var(--background-color-dark);
}
