@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400;700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;700");

:root {
  --dark-grey: #3c3c3c;
  --light-grey: #d8d8d8;

  --background-color: #feffd8;
  --background-color-dark: #c2c49b;
  --light-primary: #128cf7;
  --dark-primary: #79addc;
  --primary: var(--light-primary);
  --light-primary-accent: #12f7cc;
  --dark-primary-accent: #4ce0d2;
  --primary-accent: var(--light-primary-accent);

  --text-color: var(--dark-grey);
  --primary-font: "Montserrat", sans-serif;
  --brand-font: "Source+Sans+Pro", sans-serif;

  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 14px;

  --large-text: 2rem;
  --medium-large-text: 1.75rem;
  --medium-text: 1.5rem;
  --medium-small-text: 1.25rem;
  --small-text: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #3c3c3c;
    --background-color-dark: #1f1f1f;
    --text-color: white;
    --primary: #3c3c3c;
    --primary-accent: black;
  }
}

@media (max-aspect-ratio: 8/6) {
  :root {
    font-size: 14px;
  }
}

.color-primary {
  color: var(--primary);
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}

#grand-container {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: var(--primary-font);
}

h1 {
  font-size: var(--large-text);
}

h2 {
  font-size: var(--medium-large-text);
}

h3 {
  font-size: var(--medium-text);
}

p {
  color: var(--text-color);
}

article {
  p {
    margin: 0.65rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    margin: 1rem 0;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: solid;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

li {
  color: var(--text-color);
}

.backbtn {
  position: fixed;
  color: var(--side-bar-text-color);
  font-size: 24px;
  margin: 36px 16px;
}

.flex-spacer {
  flex-grow: 1;
}

hr {
  margin: 4rem 1rem;
  background-color: var(--text-color);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.sp-between {
  justify-content: space-between;
}
