.lds {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 25px;
}
.lds div {
  position: absolute;
  top: 10px;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds div:nth-child(1) {
  left: 4px;
  animation: lds1 0.6s infinite;
}
.lds div:nth-child(2) {
  left: 4px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(3) {
  left: 16px;
  animation: lds2 0.6s infinite;
}
.lds div:nth-child(4) {
  left: 28px;
  animation: lds3 0.6s infinite;
}
@keyframes lds1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}
