.banner {
  border: 1px solid var(--text-color);
  padding: 8px;
}

.title,
.subtitle {
  margin-bottom: 4px;
}

.title {
  font-size: var(--medium-text);
}

.link {
  border: 1px solid var(--text-color);
  display: inline-block;
  padding: 4px;

  &:hover {
    background: var(--text-color);
    color: var(--background-color);
  }
}
