.btn {
  color: var(--text-color);
  padding: 4px;
  font-size: var(--medium-small-text);
  border: 1px solid var(--text-color);
  background: var(--background-color);

  position: relative;

  &.disable {
    color: lightgray;
    border-color: lightgray;
  }

  &:hover:not(.disable) {
    color: var(--background-color);
    background: var(--text-color);
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-left: 8px;
  }
}

.loadingContainer {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--background-color);
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
