.select {
  color: var(--text-color);
  padding: 4px;
  font-size: var(--medium-small-text);
  background: var(--background-color);
  border: none;
  outline: none;
  appearance: none;

  &:not(.noBorder) {
    border: 1px solid var(--text-color);
  }

  &.fullWidth {
    display: block;
    width: 100%;
  }
}

.block {
  display: block;
}

.label {
  color: var(--text-color);
  margin: 4px;
}
