.textarea {
  color: var(--text-color);
  padding: 4px;
  font-size: var(--medium-small-text);
  background: var(--background-color);
  border: none;

  resize: none;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:not(.noBorder) {
    border: 1px solid var(--text-color);
  }
}
