.container {
  display: flex;
}

.daysContainer {
  overflow-x: scroll;
}

.yLabelsContainer {
  flex-shrink: 0;
  border-right: var(--brand-border);

  padding: 60px 8px 0px 8px;
  text-align: right;
  color: var(--text-color);
}

.hourRowLabel {
  transform: translateY(-50%);
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  font-family: monospace;
}

.dayCol {
  z-index: 1;

  &:not(:first-child) {
    border-left: var(--brand-border);
  }
}

.hourRow {
  position: relative;

  &:not(:first-child) {
    border-top: var(--brand-border);
    border-color: rgba(var(--text-color), 0.5);
  }
}

.dayDesc {
  padding: 4px;
  text-align: center;
  grid-row: 1;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  margin-right: -1px; // no double border
}

.event {
  z-index: 3;
  width: calc(100% + 1px); // for border
  height: calc(100% + 1px); // for border
}
