html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;

  width: 100%;
  height: 100%;
  background-color: #f1f1e8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.p-1 {
  padding: 8px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.pl-1 {
  padding-left: 8px;
}

.pr-1 {
  padding-right: 8px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
