html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;

  width: 100%;
  height: 100%;
  background-color: #f1f1e8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.p-1 {
  padding: 8px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}
